<div class="homepage flex justify-around">
  <mat-card appearance="raised" class="min-w-1/4 m-5">
    <mat-card-header>
      <mat-card-title>Ola {{ user?.name }}</mat-card-title>
      <mat-card-subtitle
        >Seja bem vindo ao expense tracker, uma nova experiencia pra organizar
        seus gastos</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      Aqui voce pode organizar todos os seus gastos e depois filtra-los para
      entender o que voce pode melhorar
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="min-w-1/4 m-5">
    <mat-card-actions align="end">
      <button mat-flat-button >
        +
      </button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>Ola {{ user?.name }}</mat-card-title>
      <mat-card-subtitle>Suas despesas:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Listando suas despesas em uma tabela
    </mat-card-content>
  </mat-card>
</div>

