@if (expenses()) { @if (expenses()!.length > 0) {
<table mat-table [dataSource]="expenses()!" class="mat-elevation-z8">
  <!-- Colunas dinâmicas -->
  @for (column of displayedColumns; track column) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let row">
      @if (column === 'tools') {
      <button mat-icon-button class="" (click)="onUpdate(row)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="" (click)="onDelete(row)">
        <mat-icon>delete</mat-icon>
      </button>
      } @else {
      {{ row[column] }}
      }
    </td>
  </ng-container>
  }

  <!-- Linhas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
} @else {
<p>Nenhum dado disponível.</p>
} } @else {
<p>Carregando dados...</p>
}
