<div class="welcome">
  <div class="content flex justify-around">
    <mat-card appearance="raised" class="min-w-1/4">
      <mat-card-header>
        <mat-card-title>Simple card</mat-card-title>
        <mat-card-subtitle>Teste</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
    <mat-card appearance="raised" class="min-w-1/4">
      <mat-card-header>
        <mat-card-title>Simple card</mat-card-title>
        <mat-card-subtitle>Teste</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="min-w-1/4">
      <mat-card-header>
        <mat-card-title>Simple card</mat-card-title>
        <mat-card-subtitle>Teste</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Simple card</mat-card-content>
      <mat-card-actions align="end">
        <a href="" class="mx-3">about Us</a>
        <button mat-flat-button (click)="navigateToRegister()">Check In</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
